

<%- include("header.ejs") %>
 
<%- include("navbar.ejs") %>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Donut</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/adminlogin/dashboard/add" method="post">
          <div class="mb-3">
            <label for="donutname"  class="col-form-label">Name:</label>
            <input type="text" name="donutname"class="form-control" id="donutname">
          </div>
          <div class="mb-3">
            <label for="price"  class="col-form-label">Price:</label>
            <input type="number" name="price" class="form-control" id="price">
          </div>
          <div class="mb-3">
            <label for="desc"  class="col-form-label">Description:</label>
            <input type="text" name="desc" class="form-control" id="desc">
          </div>
          
          <input type="submit" class="btn btn-primary" id="submit" name="add" value="Add Product">
          
        </form>
      </div>
    

  

    </div>
  </div>
</div>





  
<%- include("footer.ejs") %>