
<%- include("header.ejs") %>

  
 
<%- include("navbar.ejs") %>

    

    <!-- HOME -->
     <section class="home" id="home">
        <div class="container-fluid">
          <h1>Order Your DONUTS <span class="purple">Easier & Faster.</span></h1>
          <p>
            Donuto is an online <span class="purple">Donuts </span> and Shakes delivery marketplace,
            where you can buy your Donuts and Shake onlines easliy and faster. 
          </p>
          <!-- <a href="menu.html" data-rel="dialog" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline bg-purple white">See Menu</a> -->
          <a class="btn bg-purple white" href="/menu" role="button">Go to Menu</a>
          
        </div>
        <div class="image">
          <img src="./images/Big Donuts Instagram Post.svg" class="image-fluid"alt=""  />
        </div>
      </section>

          <!-- ABOUT -->

      <section class="services" id="services">
          
        <div class="top">
          <h2><span class="purple">Why</span> We are the Best</h2>
          <p>
            Donuto aims to use our unlimited passion and knowledge to create a fun filled magical experience, by serving craveable doughnuts and premium coffee at value for money and accessible to all.
          </p>
        </div>
  
        <div class="bottom">
          <div class="box">
            <img src="images/icons/delivery.svg" alt="" height="50" width="50"/>
            <h4 class="purple">Free Delivery</h4>
            <p>
                Donuto is happy to deliver your packages right to your doorstep, or to any other place you wish. All you have to do is let us know the address of destination and we will take care of the rest. 
            </p>
            
          </div>
          <div class="box">
            <img src="images/icons/price.svg" alt=""height="50" width="50" />
            <h4 class="purple">Affordable Prices</h4>
            <p>
                We promise to provide you with best quality doughnuts in  affordable price
            </p>

          </div>
       
        </div>
    
      </section>

        <!-- CUSTOMIZE -->
      
    <section class="home" id="customize">
     
    
      <div class="image ">
       
         <video src="videos/customize.mp4"  class="video-fluid" height="400px" width="100%"  autoplay loop ></video>
        </div>    
      <div class="container-fluid">
        <h1>MAKE YOUR OWN  <span class="purple">DONUT.</span></h1>
        
        <p>
          Donuto provides you with an amazing offer.Now you can  <span class="purple">CUSTOMIZE </span> your dounuts with your favourite type of coatings
          
         
        </p>
        <button class="btn bg-purple white">Customize</button>
      </div>   
      <div class="container-fluid">
        <h1>MAKE YOUR OWN  <span class="purple">DONUT.</span></h1>
        
        <p>
          Donuto provides you with an amazing offer.Now you can  <span class="purple">CUSTOMIZE </span> your dounuts with your favourite type of coatings
          
         
        </p>
        <button class="btn bg-purple white">Customize</button>
      </div>  </section>


    <!-- CONTACT -->

    <section class="container-fluid" id="contact">
    <div class="row">
      <div class="col-sm-4">
       
            
     <br><br>     
<h1>Donuto</h1><img src="images/logo.png" alt="" width="60" height="40">
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Contact Information</h4>
            <p class="card-text"> <div>
              <br>
              <a href="">
                <img src="images/placeholder.png" width="6%"height="6%">
              </a>
              <span>53 A Gulberg Lahore,Pakistan.</span>
              <br><br>


              <a href="">
                <img src="images/gmail-login-16.png" width="6%"height="6%">
              </a>
              <span>Donuto@gmail.com </span>
            </div></p>

          </div>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Connect With Us</h4>
            <p class="card-text"><br>
              <a href="">
                <img src="images/insta.jpg" width="6%"height="6%">
              </a>
              <span>Instagram</span>
              <br><br>


              <a href="">
                <img src="images/facebook.png" width="6%"height="6%">
              </a>
              <span>Facebook</span>
              <br><br>
              <a href="">
                <img src="images/whatsapp.png" width="6%"height="6%">
              </a>
              <span>Whatsapp</span>
              <br><br>
            </div></p>
          </div>
        </div>
      </div>
    </div>
  </section>


  
<%- include("footer.ejs") %>
      