<nav class="navbar navbar-dark navbar-expand-md bg-purple py-3 sticky-top ">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="images/logo.png" alt="" width="40" height="30" class="d-inline-block align-text-top">
            Donuto
        </a>
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navcol-5"
      >
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div id="navcol-5" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link homme active" href="/#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link aboutt" href="/#services">About Us</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link " href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link customizee" href="/#customize">Customize</a>
          </li>
          <li class="nav-item">
            <a class="nav-link contactt" href="/#contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="btn bg-white purple" id="loginform" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn bg-white purple" href="/signup">Register</a>
          </li>
          <li class="nav-item">
            <a class="btn bg-white purple" href="/adminlogin">Admin Login</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>