@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


body{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
  
}

.bg-purple{
    background-color: #7D1156;
}
.purple{
    color: #7D1156;
}
section {
    padding: 2rem 9%;
  }

  .white{
      color:whitesmoke;
  }

  .bg-white{
    background-color: white;
  }
  

  .home {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
  
  .home .image img {
    width: 100%;
  }
  
  .home .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .home .content p {
    color: grey;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }


  @media (max-width: 999px) {
    .home .content h1 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .home .content h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  
    .home .content p {
      font-size: inherit;
      margin-bottom: 1.5rem;
    }
  
    .home {
      grid-template-columns: 1fr;
    }
  
    .home .image {
      max-width: 50%;
      margin: 0 auto;
    }
  }


  /* Services */

  section.services {
    background-color: 	#CBC3E3;
    padding: 5rem 9%;
  }
  
  
.services .top h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .services .top {
    text-align: center;
    margin-bottom: 5rem;
  }
  .services .top  p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
   
  }
  .services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
  }
  .services .bottom .box {
    display: inline-block;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
  }
  
  .services .bottom .box:hover {
    background-color: white;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  }
 

  .services .bottom .box h4 {
    font-size: 1.8rem;
    margin: 0.2rem 0;
  }

  
  .services .bottom .box p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  
  
  .services .bottom .box a img {
    height: 1rem;
  }


  footer {
    display: block;
}
.row{
  background-color: #dbd0f7;
  display: flex;
  padding: 5%;
}
.bottom{
  text-align: center;
  padding: 1%;
}


.login-form{
  position: absolute;
  top:35%;
  left: 40%;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #7D1156;
  
}
.login-form h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-form .inputBox {
  position: relative;
}
.login-form .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-form .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-form .inputBox input:focus ~ label,
.login-form .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: white;
  font-size: 12px;
}

.login-form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #7D1156;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.close{
  position: absolute;
  bottom: 90%;
  left: 90%;
}

.signup-form{
  position: absolute;
  top:35%;
  left: 40%;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #7D1156;
 
}
.signup-form h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.signup-form .inputBox {
  position: relative;
}
.signup-form .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.signup-form .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.signup-form .inputBox input:focus ~ label,
.signup-form .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: white;
  font-size: 12px;
}

.signup-form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #7D1156;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.admin-form{
  position: absolute;
  top:35%;
  left: 40%;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #7D1156;
 
}
.admin-form h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.admin-form .inputBox {
  position: relative;
}
.admin-form .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.admin-form .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.admin-form .inputBox input:focus ~ label,
.admin-form .inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  color: white;
  font-size: 12px;
}

.admin-form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #7D1156;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}